body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-title {
  flex-grow: 1;
}
.not-found-content {
  padding: 50px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btn-submit.MuiButton-containedPrimary {
  margin: 20px auto;
  display: block;
}
form.register-form {
  max-width: 500px;
  margin: auto;
}
.error-warning {
  color: red;
}
