body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-title {
  flex-grow: 1;
}
.not-found-content {
  padding: 50px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btn-submit.MuiButton-containedPrimary {
  margin: 20px auto;
  display: block;
}
form.register-form {
  max-width: 600px;
  margin: auto;
}
.error-warning {
  color: red;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
}
h2.MuiTypography-root.form-title.MuiTypography-h5.MuiTypography-alignCenter {
  margin: 20px auto;
}
.MuiGrid-root.grid-margin.MuiGrid-container.MuiGrid-spacing-xs-2 {
  margin-top: 10px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.active {
  background: #3f51b5;
  color: white;
}
